<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бібліотека</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
  <body class="container">
    <header style="background-color: #F8F8F8; border-radius: 5px">
      <br/>
      <div class="container"> <!-- Меню -->
        <a class="btn btn-default" href="/">Стартова сторінка</a>
        <a class="btn btn-default" href="/books">Книги</a>
        <a class="btn btn-default" href="/people">Читачі</a>
      </div>
      <br/>
    </header>
    <br/><hr><br/>
    <h2>Вітаємо в онлайн бібліотеці</h2>
    <br/><br/>
    <h4><a href="/books">Перейти до книг</a></h4>
    <br/><hr><br/>
    <h4><a href="/people">Перейти до читачів</a></h4>


    <footer>
      <div class="text-center p-3" style="background-color: #F8F8F8; border-radius: 5px">
        <br/>
        <p>2023 Copyright: By me ᓚᘏᗢ</p>
        <br/>
      </div>
    </footer>
  </body>
</html>